<header class="intro">
  <h1 class="intro__hello">Hello!
    <span class="emoji wave-hand animated"></span>
  </h1>

  <h2 class="intro__tagline">I'm
    <span class="name">Florent Hospice A. MICHOAGAN</span>, I'm a cybersecurity professional focused on penetration testing, real time security event monitoring &amp; security incident investigation.🧑🏾‍💻
    <!--<span class="emoji technologist"></span>-->
  </h2>


  <h3 class="intro__contact">
    <span>Get in touch </span>
    <span class="emoji pointer"></span>
    <span>
      <a href="mailto:hospicemichoagan04@gmail.com" target="_blank" class="highlight-link">hospicemichoagan04@gmail.com</a>
    </span>
  </h3>
</header>
